<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1>Rock Paper Scissors</h1>
<h2>Player 1, make your choice:</h2>
<form action="/p1Rock" method="post">
  <button class="btn btn-warning" type="submit">Rock</button>
</form>
<form action="/p1Paper" method="post">
  <button class="btn btn-info" type="submit">Paper</button>
</form>
<form action="/p1Scissors" method="post">
  <button class="btn btn-danger" type="submit">Scissors</button>
</form>
