<h1>Rock Paper Scissors</h1>
<h2>Player 2, make your choice:</h2>
<form action="/p2Rock" method="post">
  <button type="submit">Rock</button>
  <input type="hidden" value="@Model" name = "p1choice">
</form>
<form action="/p2Paper" method="post">
  <button type="submit">Paper</button>
  <input type="hidden" value="@Model" name = "p1choice">
</form>
<form action="/p2Scissors" method="post">
  <button type="submit">Scissors</button>
  <input type="hidden" value="@Model" name = "p1choice">
</form>
