<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1>@Model Wins!</h1>
<a href="/player1">Play Again!</a>
